<div id="about">
  <h2>About alt eBird targets</h2>
  <p>
    A web app to help you discover species that have <em>not</em> been reported
    from your favorite Wisconsin
    <a href="https://ebird.org/home" target="_blank">eBird</a>
    <a href="https://ebird.org/hotspots" target="_blank">hotspots</a>!
  </p>
  <p>There are currently two modes:</p>
  <ol>
    <li>
      List bird species that have <em>not</em> been reported from a selected
      eBird hotspot
    </li>
    <li>
      List eBird hotspots in a county where a selected species has
      <em>not</em> been reported
    </li>
  </ol>
  <p>
    The first option (<code>Hotspot</code>) lets you choose a Wisconsin county
    and then a hotspot from that county. It will show a list of species that
    have been reported in the county, but not at the selected hotspot. External
    links are provided to the county level eBird summary for each species.
  </p>
  <p>
    The second option (<code>Species</code>) lets you choose a Wisconsin county
    and then a bird species that has been reported in that county. It will show
    a list and map of eBird hotspots where the selected species has not been
    reported. External links are provided to the eBird summary for each hotspot.
  </p>
  <p>
    These options are in contrast to eBird's
    <a href="https://ebird.org/targets" target="_blank">
      target species feature
    </a>
    which lists species confirmed from a hotspot or region but not reported by
    the user.
  </p>
  <p><strong>In active development.</strong></p>
  <p>This website incorporates data the following APIs:</p>
  <ul>
    <li>
      <a
        href="https://documenter.getpostman.com/view/664302/S1ENwy59"
        target="_blank"
      >
        eBird API 2.0
      </a>
    </li>
    <li>
      <a
        href="https://data-wi-dnr.opendata.arcgis.com/datasets/wi-dnr::county-boundaries-24k/about"
        target="_blank"
      >
        WI DNR Open Data: County Boundaries 24K
      </a>
    </li>
  </ul>
</div>
