<nav class="navbar">
  <div class="title">alt eBird targets</div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul role="list">
      <li><a href="targets">Targets</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>
