/* this makes #map take up the whole screen */
#map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

/* county polygons */
path.leaflet-interactive {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0;
    cursor: grab;
}

.leaflet-popup-content p {
    font-size: 1em;
    margin: 0.5em 0;
}

#targets {
    position: fixed;
    max-height: 90%;
    background-color: white;
    z-index: 999;
    overflow-y: scroll;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.9em;
}

.pop-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.n-species-obs {
    font-size: 1.2em;
    font-weight: bold;
    color: #1c6900;
}

.btn {
    font-weight: bold;
}
