/* this makes #map take up the whole screen */
#map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

/* county polygons */
path.leaflet-interactive {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0;
    cursor: grab;
}

.leaflet-popup-content p {
    font-size: 1em;
    margin: 0.5em 0;
}

#targets_bar {
    position: fixed;
    left: -10000px;
    top: 0;
    max-height: 90%;
    background-color: white;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.9em;
    transition: 0.5s;
}

.pop-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.n-species-obs {
    font-size: 1.2em;
    font-weight: bold;
    color: #1c6900;
}

.btn {
    font-weight: bold;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }
